- name: read Infrastructure ID from metadata.json
  command: cat /tmp/{{ clustername }}/metadata.json
  register: metadata_result

- set_fact:
    metadata_json: "{{ metadata_result.stdout | from_json }}"

- set_fact:
    infraid: "{{ metadata_json.infraID }}"
