apiVersion: config.openshift.io/v1
kind: DNS
metadata:
  name: cluster
spec:
  baseDomain: {{ clusterid }}.{{ publiczonename }}
  privateZone:
    id: {{ privatezoneid }}
  publicZone:
    id: {{ publiczoneid }}

