apiVersion: v1beta4
baseDomain: {{ publiczonename }}
compute:
- name: worker
  platform:
    aws:
      type: {{ worker_instance }}
      zones:
      - us-west-2a
      - us-west-2b
      - us-west-2c
  replicas: 3
controlPlane:
  name: master
  platform:
    aws:
      type: {{ master_instance }}
      zones:
      - us-west-2a
      - us-west-2b
      - us-west-2c
  replicas: 3
metadata:
  creationTimestamp: null
  name: "{{ clustername }}"
networking:
  clusterNetwork:
  - cidr: {{ clustercidr }}
    hostPrefix: 23
  machineCIDR: {{ vpccidr }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ servicecidr }}
platform:
  aws:
    region: "{{ region }}"
{% if automatic_shutdown is defined %}
    userTags:
      auto_shut_bool: "{{ automatic_shutdown }}"
{% endif %}
pullSecret: '{{ pull_secret }}'
{% if ssh_key is defined %}
sshKey: "{{ ssh_key }}"
{% endif %}
