apiVersion: v1beta4
baseDomain: {{ publiczonename }}
compute:
- name: worker
  platform:
    aws:
      type: {{ worker_instance }}
      zones:
      - "{{ region }}a"
      - "{{ region }}b"
      - "{{ region }}c"
  replicas: 3
controlPlane:
  name: master
  platform:
    aws:
      type: {{ master_instance }}
      zones:
      - "{{ region }}a"
      - "{{ region }}b"
      - "{{ region }}c"
  replicas: 3
metadata:
  creationTimestamp: null
  name: "{{ clustername }}"
networking:
  clusterNetwork:
  - cidr: {{ clustercidr }}
    hostPrefix: 23
  machineCIDR: {{ vpccidr }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ servicecidr }}
platform:
  aws:
    region: "{{ region }}"
{% if extra_instance_tags %}
    userTags: {{ extra_instance_tags }}
{% endif %}
pullSecret: '{{ pull_secret }}'
{% if ssh_key is defined %}
sshKey: "{{ ssh_key }}"
{% endif %}
