apiVersion: v1beta4
baseDomain: {{ publiczonename }}
compute:
- name: worker
  platform:
    aws:
      type: m5.2xlarge
      zones:
      - us-west-2a
      - us-west-2b
      - us-west-2c
  replicas: 3
controlPlane:
  name: master
  platform:
    aws:
      type: m5.xlarge
      zones:
      - us-west-2a
      - us-west-2b
      - us-west-2c
  replicas: 3
metadata:
  creationTimestamp: null
  name: "{{ clustername }}"
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: {{ vpccidr }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: "{{ region }}"
    userTags:
      auto_shut_bool: "{{ automatic_shutdown }}"
pullSecret: '{{ pull_secret }}'
{% if ssh_key is defined %}
sshKey: "{{ ssh_key }}"
{% endif %}
